$line: -48px;
.btn {
	background-color: transparent;
  border: none;
	background-position: 0px $line;
	width: 52px;
	height: 52px;
	z-index: 2;


	&_fail {
		background-position: -216px $line;
	}
	&_win {
		background-position: -162px $line;
	}

	&_down {
		background-position: -54px $line;
	}
	&_danger {
		background-position: -108px $line;
	}
}