@use '../../styles/vars';

.cell {
	position: relative;
	width: 32px;
	height: 32px;
	cursor: pointer;
	list-style: none;
	&:hover {
		box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.35);
	}

	&__up, &__down {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__up {
		z-index: 2;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: block;
	}

	$line: -105px;

	&_zero {
		background-position: -35px $line;
	}
	&_one {
		background-position: 0px bottom;
	}
	&_two {
		background-position: -35px bottom;
	}
	&_three {
		background-position: -70px bottom;
	}
	&_four {
		background-position: -105px bottom;

	}
	&_five {
		background-position: -140px bottom;
	}
	&_six {
		background-position: -175px bottom;
	}
	&_seven {
		background-position: -210px bottom;
	}
	&_eight{
		background-position: -245px bottom;
	}

	&_hidden {
		background-position: 0px -104px;
		
	}
	&_flag {
		background-position: -68px $line;
	}
	&_question {
		background-position: -103px $line;
	}
	&_bomb {
		background-position: -173px $line;
	}
	&_explode {
		background-position: -210px $line;
	}
	&_mistake {
		background-position: -244px $line;

	}
}