.counter {
	z-index: 2;
	display: flex;

	.num {
		width: 26px;
		height: 46px;
		display: block;
		&_zero {
			background-position: 26px top;
		}
		&_one {
			background-position: 0px top;
		}
		&_two {
			background-position: -28px top;
		}
		&_three {
			background-position: -56px top;
		}
		&_four {
			background-position: -84px top;
		}
		&_five {
			background-position: -112px top;
		}
		&_six {
			background-position: -140px top;
		}
		&_seven {
			background-position: -168px top;
		}
		&_eight{
			background-position: -196px top;
		}
		&_nine{
			background-position: -224px top;
		}
	}
}

