$mediumScreen: 992px;
$smallScreen: 576px;
$white: #FFFFFF;
$black: #000000;
$gray: #C0C0C0;
$darkGray: #7B7B7B;
$navy: #2a3245;

$iconColor: invert(51%) sepia(1%) saturate(0%) hue-rotate(110deg) brightness(92%) contrast(84%);
$iconHover: invert(99%) sepia(0%) saturate(829%) hue-rotate(175deg) brightness(74%) contrast(108%);
