@use './vars';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.sprite {
  background-image: url('../assets/minesweeper-sprites_9TPZzv3.png');
  background-size: 284px;
}

.shadow {
  position: relative;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &::before {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 4px calc(100% - 4px), calc(100% - 4px) 4px );
    box-shadow: inset -4px -4px 0px vars.$darkGray;
  }

  &::after {
    box-shadow: inset 4px 4px 0px vars.$white;
    clip-path: polygon(0% 0, 100% 0%, calc(100% - 4px) 4px, 4px calc(100% - 4px), 0% 100%);
  }
  ;
}

.shadow_inside {
  position: relative;
  &::before, &::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
  }
  &::before {
    clip-path: polygon(0% 0, 100% 0%, calc(100% - 4px) 4px, 4px calc(100% - 4px), 0% 100%);    box-shadow: 
      inset 4px 4px 0px vars.$darkGray;
  }

  &::after {
    box-shadow: inset -4px -4px 0px vars.$white;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 4px calc(100% - 4px), calc(100% - 4px) 4px );    
  }

}