@use '../../styles/vars';

.app {
  background-color: beige;
  height: 100vh;
}
.game {
  margin: 1em auto;
  padding: 1em 20px;
  max-width: 551px;
  background-color: vars.$gray;
}
.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: transparent;
  border: 1px solid vars.$gray;
  &_fail {
    border-color: red;
  }
  &_win {
    border-color: green;
  }
}