@use '../../styles/vars';

.app {
  background-color: vars.$navy;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  padding: 1em 20px;
  max-width: 551px;
  background-color: vars.$gray;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 22px 0;
  padding: 10px;
  z-index: 2;
}
